redis: redis-server /usr/local/etc/redis.conf

webpack: ./node_modules/.bin/webpack --config webpack.config.development.js --progress --profile --inline --colors -w
webpack: ./node_modules/.bin/webpack --config webpack.config.production.js --progress --profile --inline --colors -w
webpack: ./node_modules/.bin/webpack --config salons.webpack.config.development.js --progress --profile --inline --colors -w
webpack: ./node_modules/.bin/webpack --config salons.webpack.config.production.js --progress --profile --inline --colors -w

# Optional ones
# sidekiq: bundle exec sidekiq
# web: bin/rails s
# ngrok: ngrok http 3000
